form {
  max-width: 60%;
  color: rgb(255, 255, 255);
  background-color: rgb(45, 45, 45);
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

input{
  background-color: rgb(255, 255, 255);
}

#fieldset-cliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

#cpf {
  max-width: 20%;
}

#fieldset-endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  /* max-width: 50%; */
}

#cep{
  max-width: 30%;
}

#uf {
  max-width: 10%;
}

#logradouro {
  max-width: 80%;
}

#div-complemento{
display: flex;
gap: 10px;
}

#div-cep, #div-logradouro, #div-numero, #complemento-container, #div-bairro{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#complemento-container{
width: 100%;
}

#numero{
  max-width: 15%;
}
#fieldset-pedidos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  /* max-width: 50%; */
}

#quantidade {
  max-width: 30%;
}

#valor {
  max-width: 60%;
}

#div-produto{
   max-width: 100%;
}

#div-quantidade, #div-produto, #div-valor, button{
 display: flex;
  flex-direction: column;
  gap: 10px;
}

#fieldset-endereco, #fieldset-pedidos{
  gap: 7px;
}